* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.container {
    margin: 0 10%;
}
.preloader {
    text-align: center;
}
.header__nav a {
    display: inline-block;
    margin: 10px;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
.footer {
    background: rgb(146, 101, 197, 0.3);
    padding: 20px 0;
}
.header {
    background: rgb(146, 101, 197, 0.3);
}
.main__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 20px 0;
}

/* Card */

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.card__photo img {
    width: 100%;
}
.cards__description {
    margin: 0 10%;
    flex-grow: 1;
}
.card__name {
    font-size: 24px;
    margin-bottom: 10px;
}
.card__description {
    font-size: 14px;
    margin-bottom: 20px;
}
.card__price {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.card__btn {
    padding: 5px 30px;
    background-color: rgba(146, 101, 197, 0.3);
    outline: none;
    border: 1px solid rgba(146, 101, 197, 1);
    border-radius: 5px;

    transition: background-color 0.2s linear;
}

.card__btn:hover {
    background-color: rgba(146, 101, 197, 0.7);
}

/* Recipe */

.recipe {
    margin: 20px 0;
}
.recipe img {
    max-width: 90%;
    margin: 20px 0;
}
.recipe__container div {
    display: grid;
    grid-template-columns: minmax(135px, auto) 5fr;
    min-width: 135px;
    margin: 20px 0;
    align-items: center;
}
.recipe__container div span {
    font-weight: 500;
    font-size: 20px;
}
.recipe__name {
    font-size: 25px;
    font-weight: 500;
}
.recipe__description {
    display: flex;
    flex-direction: column;
}

/* Search */

.search__container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 20px;
    margin: 20px 0;
}
.search__container input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(146, 101, 197, 0.7);
    outline: none;
}
.search__container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(146, 101, 197, 0.7);
    color: rgba(146, 101, 197, 1);
    background-color: #fff;
    outline: none;

    transition: 0.2s linear;
}
.search__container input:focus {
    border: 1px solid rgba(95, 61, 134, 1);
}
.search__container button:hover {
    background-color: rgba(146, 101, 197, 0.3);
}

/*  Media */

@media (min-width: 576px) {
    .main__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .recipe__name {
        font-size: 50px;
        font-weight: 500;
    }
    .recipe__container div span {
        font-weight: 500;
        font-size: 25px;
    }
}
@media (min-width: 768px) {
    .main__container {
        grid-template-columns: repeat(3, 1fr);
    }
}
